<script src="${tagifySrc}"></script>
<link href="${tagifyCssSrc}" rel="stylesheet" type="text/css" />

<script src="${vueSrc}"></script>
<link rel="stylesheet" href="${bootstrapSrc}" />


<div id="app">
	
	<a v-bind:href="task.url">
		<span class="badge bg-success rounded-pill float-end" data-toggle="tooltip" title="open webpage task">
			{{task.id}}
		</span>
	</a>
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" placeholder="name of task" v-model="task.name" />
	</div>
	<div class="form-group">
		<label for="assignes">Assign to</label>
		<input id="assignes" type="text" name="assignes" @change="onChange($event)" autocomplete>
	</div>
	<div class="form-group">
		<label for="status">Status</label>
		<input id="status" type="text" name="status" @change="onChange($event)" autocomplete>
	</div>
	<div class="form-group">
		<label for="tags">Tags</label>
		<input id="tags" type="text" name="tags" @change="onChange($event)" autocomplete>
	</div>
	<div class="form-group">
		<label for="priority">Priority</label>
		<input id="priority" type="text" name="priority" @change="onChange($event)" autocomplete>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" id="description" rows="3" placeholder="Description of task" v-model="task.description">
		</textarea>
	</div>
	<br />
	<button type="button" class="btn btn-primary" @click="save">Save</button>
</div>

<script type="module" src="${vueApp}"></script>