<script src="${tagifySrc}"></script>

<script src="${vueSrc}"></script>
<link rel="stylesheet" href="${bootstrapSrc}" />
<div id="app">
	<a v-bind:href="task.url">
		<span class="badge bg-success rounded-pill float-end" data-toggle="tooltip" title="open webpage task">
			{{task.id}}
		</span>
	</a>
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" placeholder="name of task" v-model="task.name" />
	</div>
	<div class="form-group">
		<label for="assignTo">Assign to</label>
		<select class="form-select" id="assignTo" v-model="selectedMember">
			<option value="" disabled>Select one member</option>
			<option v-for="member in members" v-bind:value="member.id">
				{{member.username}}
			</option>
		</select>
		<input id="onlyMarvel" type="text" name="mcu" autocomplete>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" id="description" rows="3" placeholder="Description of task" v-model="task.description">
		</textarea>
	</div>
	<br />
	<button type="button" class="btn btn-primary" @click="checkForm">
		Update Task
	</button>
</div>

<script type="module">

	const vscode = acquireVsCodeApi();

	Vue.createApp({
		data() {
			return {
				task: {
					id: null,
					url: '#',
					description: null,
					name: null
				},
				members: [],
				selectedMember: "",
				mcuHeros: [
					{ value: "ironman", code: "im" },
					{ value: "antman", code: "am" },
					{ value: "captain america", code: "ca" },
					{ value: "thor", code: "th" },
					{ value: "spiderman", code: "sm" }
				  ]
			};
		},
		mounted() {
			this.sendMessageToBackend("getMembers");

			window.addEventListener("message", (event) => {
				const data = event.data;

				switch (data.command) {
					case "loadMembers":
						this.members = data.data;
						break;
					case "taskData":
						this.popolateFields(data.data);
						break;
				}
			});

			var input = document.getElementById("onlyMarvel");
		},
		methods: {
			popolateFields(task) {
				this.task = task;
				this.selectedMember = task.assignees[0].id;
			},
			checkForm: function (e) {
				if (!this.task.name) {
					this.sendMessageToBackend("error", "Title is required.");
				} else if (!this.task.description) {
					this.sendMessageToBackend("error", "Description is required.");
				} else {
					//TODO: cloned object because can't send it directly,I fix it after
					this.sendMessageToBackend("updateTask", JSON.parse(JSON.stringify(this.task)));
				}
			},
			sendMessageToBackend(command = null, args = null) {
				vscode.postMessage({
					command: command,
					args: args
				});
			},
		},
	}).mount("#app");
</script>